@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans&display=swap');

.card-container {
  border-radius: 20px;
  width: 150px;
  height: 150px;
  overflow: hidden;
  box-shadow: 0px 0px 15px lavender;
  margin: 40px 40px;
}

.card-container:hover {
  animation: card 300ms ease-in-out forwards;
}

.image-container img {
  width: 150px;
  overflow: inherit;
  height: 150px;
}

.card-container:hover .card-title {
  font-size: 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

@keyframes card {
  100% {
    transform: scale(1.2);
    box-shadow: 0px 0px 15px 0px;
  }
}

.label-title {
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  color: floralwhite;
  font-weight: bold;
}

.small label {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  color: rgba(235, 241, 241, 0.904);
  font-weight: bold;
}
