
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

body { background:black; }
form { max-width:420px; margin:50px auto; }

.carousel-img{
    width: 1750px;
 height: 700px;
 max-height: 1700px;
 margin: auto; 
 display: block;
}



.card{
    max-width:1750px;
    height: 700px;
}

.card-title{
    text-align: center;
    font-size: 52px;
    font-family:-moz-initial;
    font-weight: 600;
}

.card-text{
    text-align: center;
    font-size: 30px;
    font-family: -moz-initial;
    
}

.card-img{
    height: 700px;
    width: 900px;
}

*{ box-sizing: border-box; }

#container {
  width: 1775px;
  height: 450px;
  margin: 0 auto;
  padding: 10px;
}

#container .box {
  display: inline-block;;
  /* position: relative; */
  border: 1px solid #3b3b3b;
  height: 100%;
  margin: 2px 0;
  background-color: rgb(238, 238, 238);
}

#container .box1 {
  width: 25%;  
}

#container .box2 {
  width: 25%;
}

#container .box3 {
  width: 25%;
}

#container .box4 {
  width: 25%;
}

.block-img{
    font-size: 40px;
    font-family: -moz-initial;
    color:rgb(226, 139, 8);
    font-weight: 400;
    text-align: center;
    
}

.block-icon{
    display: block;
    margin: auto;
    margin-top: 90px;
    
}

.zoom:hover {
  transform: scale(1.03); 
}
