.container {
    display: flex;
    flex-direction: row; 
    flex-wrap: wrap;
    justify-content: space-evenly ; 
    height: 400px;
    align-content: space-evenly;
  }

.media{
    width: 100px;  /* Or whatever */
    height: 100px; /* Or whatever */
    margin: auto;
    height: 140;
    flex-grow: 4;
}

.root {
    maxWidth: 345;
  }

  